    <div class="content-container component">
      <main class="content">
        <style type="text/css">
          body { background-color: #000000; }
        </style>
        <section class="component-row test-class component-background-center-center margin-desktop-top-0 component-row-height-large" data-section-id="section-120" data-logo-color="logo-color-dark" style="color:#fdff83">
          <div class="flex-grid component-row-wide component-alignment-center">
            <section class="component-column flex-12-12 padding-top-8x padding-desktop-top-16x component-background-center-center" data-section-id="section-529" style="">
              <section class="component component-typing headline1 align-left" id="typing-block_5d06696f73049" data-component-name="Typing">
                <span class="typing-data" data-typing="We design websites,We design digital, We promote synergy,We are the mobile first to your responsive design"></span>
                <span class="headline1 typed element-in-view">We design websites</span>
              </section>
            </section>
          </div>
        </section>
        <!--Services content done linking remaining-->
        <section class="component-row  component-background-center-center padding-bottom-8x  padding-desktop-top-16x " data-section-id="section-777" data-logo-color="logo-color-dark" style="">
          <div class="flex-grid component-row-wide component-alignment-top">
            <section class="component-column  flex-12-12 component-background-center-center" data-section-id="section-58" style="">
              <div class="component-heading component "><h5 class="is-style-subheadline1-wide align-center">SERVICES</h5></div>
            </section>
          </div>
        </section>
          <section class="component-row  component-background-center-center" data-section-id="section-919" data-logo-color="logo-color-dark" style="">
              <div class="flex-grid component-row-full component-alignment-top">
                  <section class="component-column  flex-12-12 component-top-border-white component-background-center-center" data-section-id="section-16" style="">
                      <div class="component component-areas " data-component-name="Areas" id="areas-block_5cc236d4a3af4">
                          <div class="areas">
                            <div class="area padding-left-5x padding-right-5x padding-desktop-left-10x padding-desktop-right-10x" data-area-id="4362">
                              <div class="area-inner">
                                <h4 class="headline4 padding-top-5x padding-desktop-top-10x">WOW Printers & Designers</h4>
                                <p class="body2 padding-bottom-12x padding-desktop-bottom-24x">Brand Strategy, Brand Identity, Logo Design...</p>
                              </div>
                              <a [routerLink]="['services']" class="click-arrow"></a>
                            </div>
                              <div class="area padding-left-5x padding-right-5x padding-desktop-left-10x padding-desktop-right-10x" data-area-id="3855">
                                <div class="area-inner">
                                  <h4 class="headline4 padding-top-5x padding-desktop-top-10x">WOW Branding</h4>
                                  <p class="body2 padding-bottom-12x padding-desktop-bottom-24x">Brand Strategy & Brand Management, DIGITAL, WEB, Content...</p>
                                </div>
                                <a [routerLink]="['services']" class="click-arrow"></a>
                              </div>
                              <div class="area padding-left-5x padding-right-5x padding-desktop-left-10x padding-desktop-right-10x" data-area-id="4398">
                                <div class="area-inner">
                                  <h4 class="headline4 padding-top-5x padding-desktop-top-10x">WOW Events</h4>
                                  <p class="body2 padding-bottom-12x padding-desktop-bottom-24x">Government. Events, Corporate Events etc...</p>
                                </div>
                                <a [routerLink]="['services']" class="click-arrow"></a>
                              </div>
                              <div class="area padding-left-5x padding-right-5x padding-desktop-left-10x padding-desktop-right-10x" data-area-id="4439">
                                <div class="area-inner">
                                  <h4 class="headline4 padding-top-5x padding-desktop-top-10x">WOW Interiors</h4>
                                  <p class="body2 padding-bottom-12x padding-desktop-bottom-24x">Luxury Residential Interiors, Commercial Interiors etc...</p>
                                </div>
                                <a [routerLink]="['services']" class="click-arrow"></a>
                              </div>
                              <div class="area padding-left-5x padding-right-5x padding-desktop-left-10x padding-desktop-right-10x" data-area-id="4427">
                                <div class="area-inner">
                                  <h4 class="headline4 padding-top-5x padding-desktop-top-10x">WOW Gifts</h4>
                                  <p class="body2 padding-bottom-12x padding-desktop-bottom-24x">Customized Corporate gifts and Customized personalized gifts.</p>
                                </div>
                                <a [routerLink]="['services']" class="click-arrow"></a>
                              </div>
                              <div class="area padding-left-5x padding-right-5x padding-desktop-left-10x padding-desktop-right-10x" data-area-id="4433">
                                <div class="area-inner">
                                  <h4 class="headline4 padding-top-5x padding-desktop-top-10x">WOW Digital</h4>
                                  <p class="body2 padding-bottom-12x padding-desktop-bottom-24x">Social Media Marketing, Pay-Per-Click Advertising (PPC)...</p>
                                </div>
                                <a [routerLink]="['services']" class="click-arrow"></a>
                              </div>
                              <div class="area padding-left-5x padding-right-5x padding-desktop-left-10x padding-desktop-right-10x" data-area-id="4340">
                                <div class="area-inner">
                                  <h4 class="headline4 padding-top-5x padding-desktop-top-10x">WOW Web</h4>
                                  <p class="body2 padding-bottom-12x padding-desktop-bottom-24x">Website Design & Development, E-commerce Web Solutions...</p>
                                </div>
                                <a [routerLink]="['services']" class="click-arrow"></a>
                              </div>
                              <div class="area padding-left-5x padding-right-5x padding-desktop-left-10x padding-desktop-right-10x" data-area-id="4403">
                                <div class="area-inner">
                                  <h4 class="headline4 padding-top-5x padding-desktop-top-10x">WOW Content</h4>
                                  <p class="body2 padding-bottom-12x padding-desktop-bottom-24x">Content Strategy, Brand Storytelling...</p>
                                </div>
                                <a [routerLink]="['services']" class="click-arrow"></a>
                              </div>
                          </div>
                          <div class="areas-rollovers">
                              <div class="area-rollover" data-area-id="4362">
                                <img src="assets/images/01.png" class="desktop-rollover" />
                                <img src="assets/images/01.png" class="mobile-rollover" />
                                <div class="area-opacity"></div>
                              </div>
                              <div class="area-rollover" data-area-id="3855">
                                <img src="assets/images/01.png" class="desktop-rollover" />
                                <img src="assets/images/01.png" class="mobile-rollover" />
                                <div class="area-opacity"></div>
                              </div>
                              <div class="area-rollover" data-area-id="4398">
                                <img src="assets/images/01.png" class="desktop-rollover" />
                                <img src="assets/images/01.png" class="mobile-rollover" />
                                <div class="area-opacity"></div>
                              </div>
                              <div class="area-rollover" data-area-id="4439">
                                <img src="assets/images/01.png" class="desktop-rollover" />
                                <img src="assets/images/01.png" class="mobile-rollover" />
                                <div class="area-opacity"></div>
                              </div>
                              <div class="area-rollover" data-area-id="4427">
                                <img src="assets/images/01.png" class="desktop-rollover" />
                                <img src="assets/images/01.png" class="mobile-rollover" />
                                <div class="area-opacity"></div>
                              </div>
                              <div class="area-rollover" data-area-id="4433">
                                <img src="assets/images/01.png" class="desktop-rollover" />
                                <img src="assets/images/01.png" class="mobile-rollover" />
                                <div class="area-opacity"></div>
                              </div>
                              <div class="area-rollover" data-area-id="4340">
                                <img src="assets/images/01.png" class="desktop-rollover" />
                                <img src="assets/images/01.png" class="mobile-rollover" />
                                <div class="area-opacity"></div>
                              </div>
                              <div class="area-rollover" data-area-id="4403">
                                <img src="assets/images/01.png" class="desktop-rollover" />
                                <img src="assets/images/01.png" class="mobile-rollover" />
                                <div class="area-opacity"></div>
                              </div>
                          </div>
                      </div>
                  </section>
              </div>
          </section>

          <!--Portfolio setting done Image to be asked remaining-->        
          <section class="component-row  component-background-center-center padding-top-7x  padding-bottom-8x  padding-tablet-portrait-top-32x  padding-tablet-portrait-bottom-21x  component-top-border-white" data-section-id="section-537" data-logo-color="logo-color-dark" style="">
              <div class="flex-grid component-row-wide component-alignment-top">
                  <section class="component-column flex-12-12 component-background-center-center" data-section-id="section-753" style="">
                      <div class="component-heading component "><h5 class="is-style-subheadline1-wide align-center">FEATURED WORK</h5></div>
                  </section>
              </div>
          </section>
          <section class="component-row component-background-center-center padding-bottom-10x  padding-tablet-portrait-right-4x  padding-tablet-portrait-left-4x  padding-tablet-portrait-bottom-30x  padding-desktop-right-0x  padding-desktop-left-0x " data-section-id="section-467" data-logo-color="logo-color-dark" style="">
              <div class="flex-grid component-row-wide component-alignment-top">
                  <section class="component-column flex-12-12 component-background-center-center" data-section-id="section-343" style="">
                      <div class="component component-work-feed " id="work-feed-block_5cc32c2949cf1">
                          <div class="feed-items load-items padding-bottom-10x">
                              <h1 style="text-align:center;display: block;width: 100%;font-size:22px;">Please contact us for relevant portfolio.</h1>
                              <!-- <div class="feed-item margin-bottom-4x margin-tablet-portrait-bottom-5x" data-post-id="3982">
                                  <div class="image-wrapper">
                                      <a href="#work/calvinklein/index.html"><img width="700" height="400" src="../189hvw2xdty1mpv12l7kv3dm-wpengine.netdna-ssl.com/wp-content/uploads/ATTCK-CalvinKlein-Hero-1-2.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://189hvw2xdty1mpv12l7kv3dm-wpengine.netdna-ssl.com/wp-content/uploads/ATTCK-CalvinKlein-Hero-1-2.jpg 700w, https://189hvw2xdty1mpv12l7kv3dm-wpengine.netdna-ssl.com/wp-content/uploads/ATTCK-CalvinKlein-Hero-1-2-300x171.jpg 300w" sizes="(max-width: 700px) 100vw, 700px" /></a>
                                  </div>
                                  <div class="client-logo">
                                      <a href="#work/calvinklein/index.html"><img src="../189hvw2xdty1mpv12l7kv3dm-wpengine.netdna-ssl.com/wp-content/uploads/calvin-klein-logo.png" title="Calvin Klein" /></a>
                                  </div>
                              </div>
                              <div class="feed-item margin-bottom-4x margin-tablet-portrait-bottom-5x" data-post-id="4603">
                                  <div class="image-wrapper">
                                      <a href="#work/unitednations/index.html"><img width="660" height="378" src="../189hvw2xdty1mpv12l7kv3dm-wpengine.netdna-ssl.com/wp-content/uploads/11.01-ATTCK-Case-study-United-Nations-Thumbnail-1.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://189hvw2xdty1mpv12l7kv3dm-wpengine.netdna-ssl.com/wp-content/uploads/11.01-ATTCK-Case-study-United-Nations-Thumbnail-1.jpg 660w, https://189hvw2xdty1mpv12l7kv3dm-wpengine.netdna-ssl.com/wp-content/uploads/11.01-ATTCK-Case-study-United-Nations-Thumbnail-1-300x172.jpg 300w" sizes="(max-width: 660px) 100vw, 660px" /></a>
                                  </div>
                                  <div class="client-logo tall-logo">
                                      <a href="#work/unitednations/index.html"><img src="../189hvw2xdty1mpv12l7kv3dm-wpengine.netdna-ssl.com/wp-content/uploads/ATTCK-UnitedNations-logo-white-1.png" title="United Nations" /></a>
                                  </div>
                              </div>
                              <div class="feed-item margin-bottom-4x margin-tablet-portrait-bottom-5x" data-post-id="4065">
                                  <div class="image-wrapper">
                                      <a href="#work/subwayreads/index.html"><img width="660" height="400" src="../189hvw2xdty1mpv12l7kv3dm-wpengine.netdna-ssl.com/wp-content/uploads/11.01-ATTCK-Case-study-detail-Paley-Thumbnail-11.01-ATTCK-Case-study-Subway-Reads.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="https://189hvw2xdty1mpv12l7kv3dm-wpengine.netdna-ssl.com/wp-content/uploads/11.01-ATTCK-Case-study-detail-Paley-Thumbnail-11.01-ATTCK-Case-study-Subway-Reads.jpg 660w, https://189hvw2xdty1mpv12l7kv3dm-wpengine.netdna-ssl.com/wp-content/uploads/11.01-ATTCK-Case-study-detail-Paley-Thumbnail-11.01-ATTCK-Case-study-Subway-Reads-300x182.jpg 300w" sizes="(max-width: 660px) 100vw, 660px" /></a>
                                  </div>
                                  <div class="client-logo tall-logo">
                                      <a href="#work/subwayreads/index.html"><img src="https://189hvw2xdty1mpv12l7kv3dm-wpengine.netdna-ssl.com/wp-content/uploads/subway-reads-white.svg" title="" /></a>
                                  </div>
                              </div> -->
                          </div>
                          <div class="component-ctas align-center">
                              <a class="cta cta-icon cta-icon-wide" [routerLink]="['contact']">Contact us</a>
                          </div>
                      </div>
                  </section>
              </div>
          </section>

          <!--Our services again highlighted... still check-->
          <section class="component-row component-image-background component-background component-background-right-top padding-tablet-portrait-right-4x  padding-tablet-portrait-left-4x  padding-desktop-right-0x  padding-desktop-left-0x " data-section-id="section-219" data-logo-color="logo-color-dark" style="">
              <style>
              .component-background[data-section-id="section-219"]{
                  /* background-image: url(../189hvw2xdty1mpv12l7kv3dm-wpengine.netdna-ssl.com/wp-content/uploads/Image-Our-services-2.png); */
                  background-size: 100% auto;
                  background-repeat: no-repeat;
                  background-position-x: center;
                  background-position-y: top;
              }
              @media only screen and (min-width: 768px){
                  .component-background[data-section-id="section-219"]{
                      /* background-image: url(https://189hvw2xdty1mpv12l7kv3dm-wpengine.netdna-ssl.com/wp-content/uploads/Image-Our-services-2.png); */
                      background-size: 940px auto;
                      background-repeat: no-repeat;
                      background-position-x: right;
                      background-position-y: top;
                  }
              }
              </style>
              <div class="flex-grid component-row-wide component-alignment-top">
                  <section class="component-column  flex-12-12 flex-tablet-portrait-6-12 flex-tablet-landscape-4-12 padding-phone-top-16x  padding-tablet-portrait-top-0x  component-background-center-center" data-section-id="section-741" style="">
                      <div class="component-heading component  padding-bottom-8x "><h2 class="is-style-headline3 align-left">OUR SERVICES</h2></div>
                  </section>
              </div>
          </section>
          <section class="component-row  component-background-center-center padding-top-7x  padding-bottom-15x  padding-phone-top-0x  padding-tablet-portrait-top-4x  padding-tablet-portrait-right-4x  padding-tablet-portrait-left-4x  padding-desktop-right-0x  padding-desktop-left-0x " data-section-id="section-468" data-logo-color="logo-color-dark" style="">
              <div class="flex-grid component-row-wide component-alignment-top">
                  <section class="component-column  flex-12-12 flex-tablet-portrait-6-12 padding-bottom-8x  padding-tablet-portrait-bottom-0x  component-background-center-center" data-section-id="section-873" style="">
                      <div class="component-source component  margin-top-4x  margin-phone-top-4x ">
                          <div class="link-group">
                              <a [routerLink]="['services']" class="headline4 display-inline-block margin-right-4x margin-bottom-5x" style="color:#fdff83">Strategy & positioning</a>
                              <a [routerLink]="['services']" class="headline4 display-inline-block margin-right-4x margin-bottom-5x">Innovation</a>
                              <br />
                              <a [routerLink]="['services']" class="headline4 display-inline-block margin-right-4x margin-bottom-5x" style="color:#fdff83">Conversion Rate Optimization</a>
                              <a [routerLink]="['services']" class="headline4 display-inline-block margin-right-4x margin-bottom-5x">Development</a>
                              <br />
                              <a [routerLink]="['services']" class="headline4 display-inline-block margin-right-4x margin-bottom-5x" style="color:#fdff83">Brand Storytelling</a>
                              <a [routerLink]="['services']" class="headline4 display-inline-block margin-right-4x margin-bottom-5x">Interiors</a>
                          </div>
                      </div>
                  </section>
                  <section class="component-column flex-12-12 flex-phone-0-12 flex-tablet-portrait-1-12 flex-xl-1-12 component-background-center-center" data-section-id="section-654" style=""></section>
                  <section class="component-column flex-12-12 flex-tablet-portrait-5-12 padding-top-4x  padding-tablet-portrait-top-4x  component-background-center-center" data-section-id="section-502" style="">
                      <div class="component-heading component margin-bottom-4x "><h4 class="is-style-headline4 align-left">Your brand needs to stand out.</h4></div>
                      <div class="component-text component margin-bottom-7x "><div class="body-text"><p>We have a unique feature that the founders of the agency are the creators of the work and always serve as the primary contact point for every client. This shows our passion, commitment and conviction towards our business and YOUR BRAND! </p></div></div>
                      <div class="component-button component align-left"><a [routerLink]="['services']" class="cta ">READ More</a></div>
                  </section>
              </div>
          </section>

          <!-- About us -->
          <section class="component-row padding-tablet-portrait-top-78x padding-top-40x component-image-background component-background component-background-center-top padding-bottom-15x  padding-tablet-portrait-right-4x  padding-tablet-portrait-left-4x  padding-desktop-right-0x  padding-desktop-left-0x  margin-bottom-8x  margin-tablet-portrait-bottom-8x " data-section-id="section-551" data-logo-color="logo-color-dark" style="">
              <style>
              .component-background[data-section-id="section-551"]{
                  /* background-image: url(../189hvw2xdty1mpv12l7kv3dm-wpengine.netdna-ssl.com/wp-content/uploads/about-us-mobile.jpg); */
                  background-size: 100% auto;
                  background-repeat: no-repeat;
                  background-position-x: center;
                  background-position-y: top;
              }
              @media only screen and (min-width: 768px){
                  .component-background[data-section-id="section-551"]{
                      /* background-image: url(https://189hvw2xdty1mpv12l7kv3dm-wpengine.netdna-ssl.com/wp-content/uploads/about-us.jpg); */
                      background-size: 100% auto;
                      background-repeat: no-repeat;
                      background-position-x: center;
                      background-position-y: top;
                  }
              }
              </style>
              <div class="flex-grid component-row-wide component-alignment-top">
                <section class="component-column flex-12-12 flex-tablet-portrait-5-12 component-background-center-center" data-section-id="section-405">
                    <div class="component-image component"><div class="image-wrapper align-center"><img width="614" height="406" src="assets/images/team-image.jpg?6" class="attachment-full size-full" alt="" /></div></div>
                </section>
                <section class="component-column flex-12-12 flex-phone-0-12 flex-tablet-portrait-1-12 component-background-center-center" data-section-id="section-826"></section>
                <section class="component-column flex-12-12 flex-tablet-portrait-6-12 component-background-center-center" data-section-id="section-633">
                    <div class="component-heading component margin-bottom-8x margin-tablet-portrait-bottom-8x padding-top-8x"><h3 class="is-style-headline3 padding-tablet-portrait-top-25x align-left">ABOUT US</h3></div>
                    <div class="component-text component margin-bottom-7x"><div class="body-text"><p><strong>The WOW Factors</strong> is an independent start up creative design studio, founded by the diverse and devoted group of strategists, designers, storytellers, content writers, digital developers, UI/UX experts and business experts. Our believe in innovation and holistic view on design, human centric approach and independent thinking enables us in creating graphics and identities, architecture and interiors, products and packaging, exhibitions and installations, websites and digital experiences, advertising and communications.</p></div></div>
                    <div class="component-button component align-left"><a [routerLink]="['about']" class="cta ">READ MORE</a></div>
                </section>
              </div>
          </section>
      </main>
  </div>