<footer class="component-footer">
  <section class="component-row-full component-row">
    <div class="footer-inner">
      <div class="flex-grid component-alignment-top padding-top-16x padding-bottom-10x padding-tablet-landscape-bottom-11x">
        <div class="flex-desktop-12-12 flex-tablet-landscape-12-12 flex-tablet-portrait-12-12 flex-12-12">
          <a [routerLink]="['/']" class="logo-wrapper">
            <img src="../../../assets/logo/logo-152x81.png" style="max-width:152px;max-height:81px;" />
          </a>
        </div>
      </div>
      <div class="flex-grid component-alignment-stretch padding-bottom-12x padding-tablet-landscape-bottom-16x">
        <div class="flex-desktop-1-12 flex-tablet-landscape-1-12 flex-tablet-portrait-0-12 flex-0-12"></div>
        <div class="flex-desktop-8-12 flex-tablet-landscape-8-12 flex-tablet-portrait-8-12 flex-0-12">
          <nav class="footer-nav">
            <ul class="menu-items">
              <li id="menu-item-3872" class="menu-item menu-item-type-post_type menu-item-object-areas menu-item-has-children "><a [routerLink]="['services']">Expertise</a>
                <ul class="sub-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">Brand Strategy</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">Brand Identity</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">Packaging</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">Innovation</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">Data visualization</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">Information architecture</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">Usability Testing</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">Content marketing</a></li>
                </ul>
              </li>
              <li id="menu-item-4854" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children "><a [routerLink]="['services']">Services</a>
                <ul class="sub-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">WOW Events</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">WOW Interiors</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">WOW Branding</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">WOW Printers</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">WOW Designers</a></li>
                </ul>
              </li>
            </ul>
            <ul class="menu-items">
              <li class="menu-item menu-item-type-post_type menu-item-object-page "><a [routerLink]="['about']">About Us</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page "><a [routerLink]="['services']">Services</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page "><a [routerLink]="['portfolio']">Portfolio</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page "><a [routerLink]="['careers']">Careers</a></li>                            
              <li class="menu-item menu-item-type-post_type menu-item-object-page "><a [routerLink]="['contact']">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="flex-desktop-0-12 flex-tablet-landscape-0-12 flex-tablet-portrait-0-12 flex-12-12">
          <nav class="footer-nav">
            <ul class="menu-items">
              <li id="menu-item-3872" class="menu-item menu-item-type-post_type menu-item-object-areas menu-item-has-children "><a [routerLink]="['services']">Expertise</a>
                <ul class="sub-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">Brand Strategy</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">Brand Identity</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">Packaging</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">Innovation</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">Data visualization</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">Information architecture</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">Usability Testing</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">Content marketing</a></li>
                </ul>
              </li>
              <li id="menu-item-4854" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children "><a [routerLink]="['services']">Services</a>
                <ul class="sub-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">WOW Events</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">WOW Interiors</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">WOW Branding</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">WOW Printers</a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-areas "><a [routerLink]="['services']">WOW Designers</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <div class="flex-desktop-0-12 flex-tablet-landscape-0-12 flex-tablet-portrait-0-12 flex-6-12">
          <nav class="footer-nav margin-bottom-6x">
            <ul class="menu-items">
              <li class="menu-item menu-item-type-post_type menu-item-object-page "><a [routerLink]="['about']">About Us</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page "><a [routerLink]="['services']">Services</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page "><a [routerLink]="['portfolio']">Portfolio</a></li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page "><a [routerLink]="['careers']">Careers</a></li>                            
              <li class="menu-item menu-item-type-post_type menu-item-object-page "><a [routerLink]="['contact']">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="flex-desktop-0-12 flex-tablet-landscape-0-12 flex-tablet-portrait-1-12 flex-0-12"></div>
        <div class="flex-desktop-2-12 flex-tablet-landscape-2-12 flex-tablet-portrait-3-12 flex-6-12">
          <div class="footer-contact">
            <div class="footer-contact">
              <h4 class="margin-bottom-6x subheadline2 uppercase">WOW HQ</h4>
              <address class="margin-global-bottom-1x">120 Sector 17<br />Floor 10<br />Chandigarh, HR | PINCODE </address>
              <a href="#cdn-cgi/l/email-protection.html#78105e5b494849435e5b494840435e5b494840435e5b494949435e5b4e4c43190c0c1b135e5b4c4e435e5b414143175e5b49484143" target="_blank" class="footer-link">h&#101;&#108;&#108;&#111;&#64;wow&#46;&#99;o&#109;</a>
              <a href="#tel:(&#54;1&#55;)&#32;&#55;&#50;&#53;-&#48;0&#52;4" target="_blank" class="footer-link">(&#54;1&#50;)&#48;&#55;&#50;&#53;-&#48;0&#52;4</a>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-grid component-row-wide padding-bottom-8x padding-tablet-landscape-bottom-13x">
        <div class="flex-desktop-12-12 flex-tablet-landscape-12-12 flex-tablet-portrait-12-12 flex-12-12">
          <small class="align-center caption3 display-block"><p>Copyright @2019 TheWOWfactors. All rights reserved</p></small>
        </div>
      </div>
    </div>
  </section>
</footer>