<div class="content-container component">
  <main class="content">
    <style type="text/css">
      body {
        background-image: url('../../assets/images/01.jpg?ss');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% auto;
        /* background-color: */
      }
      @media only screen and (max-width: 1099px) {
        body {
          background-size: cover;
        }
      }
      @media only screen and (max-width: 1023px) {
        body {
          background-image: url('../../assets/images/01.jpg?ss');
          background-size: cover;
        }
      }
    </style>
  <section class="component-row  component--background component-background component-background-center-center padding-tablet-portrait-bottom-16x  padding-desktop-bottom-0x  component-row-height-small" data-section-id="section-369" data-logo-color="logo-color-dark" style="">
    <div class="flex-grid component-row-wide component-alignment-center">
      <section class="component-column  flex-12-12 component-background-center-center" data-section-id="section-231" style="">
        <div class="component-heading component " style="color:#FFFFFF;"><h1 class="is-style-headline1 align-center">Services</h1></div>
      </section>
    </div>
  </section>
  <section id="strategy" class="component-row padding-top-85x component-image-background component-background component-background-right-center padding-bottom-8x  padding-tablet-portrait-top-16x  padding-tablet-portrait-left-4x  padding-tablet-portrait-bottom-16x  padding-desktop-right-0x  padding-desktop-left-0x  margin-desktop-bottom-16x " data-section-id="section-697" data-logo-color="logo-color-dark" style="">
    <style>
      .component-background[data-section-id="section-697"]{
        background-image: url(../../assets/images/01.jpg);
        background-size: auto 320px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: top;
      } @media only screen and (min-width: 768px){
        .component-background[data-section-id="section-697"]{
          background-image: url(../../assets/images/01.jpg);
          background-size: 50% auto;
          background-repeat: no-repeat;
          background-position-x: right;
          background-position-y: center;
        }
      }
    </style>
    <div class="flex-grid component-row-wide component-alignment-top">
      <section class="component-column flex-12-12 flex-tablet-portrait-6-12 flex-tablet-landscape-5-12 padding-tablet-portrait-right-5x  padding-tablet-landscape-right-4x  padding-desktop-right-5x  component-background-center-center" data-section-id="section-626" style="">
        <div class="component-heading component margin-bottom-5x"><h2 class=" headline2 align-left">WOW Printers & Designers</h2></div>
        <div class="component-text component margin-bottom-8x">
          <div class="body-text">
            <div style="font-size:19px;line-height:30px;">
              Brand Strategy<br />
              Brand Identity<br />
              Logo Design<br />
              Packaging Design<br />
              Brochure Design<br />
              Advertising Design<br />
              Brand Communication Design<br />
              Pamphlets/Flyers<br />
              Calendars<br />
              Signage<br />
              Packaging<br />
              Prospectus
            </div>
          </div>
        </div>
        <!-- <div class="component-button component  align-left">
          <a href="../strategy/index.html" class="cta is-style-cta">See more</a>
        </div> -->
      </section>
      <section class="component-column  flex-0-12 flex-tablet-portrait-1-12 component-background-center-center" data-section-id="section-380" style=""></section>
      <section class="component-column  flex-12-12 flex-tablet-portrait-6-12 component-background-center-center" data-section-id="section-954" style=""></section>
    </div>
  </section>
  <!-- clickable 1st row Ends -->
  <!-- clickable 2nd row Starts -->
  <section id="content" class="component-row padding-top-85x component-image-background component-background component-background-left-center padding-bottom-8x  padding-tablet-portrait-top-16x  padding-tablet-portrait-right-4x  padding-tablet-portrait-bottom-16x  padding-desktop-right-0x  margin-desktop-bottom-8x " data-section-id="section-365" data-logo-color="logo-color-dark" style="">
    <style>
      .component-background[data-section-id="section-365"]{
        background-image: url(../../assets/images/02.jpg);
        background-size: auto 320px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: top;
      } @media only screen and (min-width: 768px){
        .component-background[data-section-id="section-365"]{
          background-image: url(../../assets/images/02.jpg);
          background-size: 50% auto;
          background-repeat: no-repeat;
          background-position-x: left;
          background-position-y: center;
        }
      }
    </style>
    <div class="flex-grid component-row-wide component-alignment-top">
      <section class="component-column  flex-0-12 flex-tablet-portrait-6-12 flex-tablet-landscape-6-12 component-background-center-center" data-section-id="section-830" style=""></section>
      <section class="component-column  flex-0-12 flex-tablet-landscape-1-12 component-background-center-center" data-section-id="section-216" style=""></section>
      <section class="component-column  flex-12-12 flex-tablet-portrait-6-12 flex-tablet-landscape-5-12 padding-tablet-portrait-left-8x  padding-tablet-landscape-left-0x  component-background-center-center" data-section-id="section-546" style="">
      <div class="component-heading component  margin-bottom-5x "><h2 class=" headline2 align-left">WOW Branding</h2></div>
      <div class="component-text component  margin-bottom-8x " style=""><div class="body-text">
        <h4 class="subheadline2">A. Brand Strategy & Brand Management <br />
          <br />B. Digital <br />
          <br />C. WEB <br />
          <br />D. Mobile<br />
          <br />E. Content
        </h4>
      </div>
    </div>
      <div class="component-button component align-left"><a [routerLink]="['branding']" class="cta is-style-cta">See more details...</a></div>
      </section>
  </div></section>
  



  <section id="design" class="component-row padding-top-85x component-image-background component-background component-background-right-center padding-bottom-8x  padding-tablet-portrait-top-16x  padding-tablet-portrait-left-4x  padding-tablet-portrait-bottom-16x  padding-desktop-right-0x  padding-desktop-left-0x  margin-desktop-bottom-16x " data-section-id="section-244" data-logo-color="logo-color-dark" style="">
    <style>
    .component-background[data-section-id="section-244"]{
    background-image: url(../../assets/images/03.jpg);
    background-size: auto 320px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    } @media only screen and (min-width: 768px){
      .component-background[data-section-id="section-244"]{
        background-image: url(../../assets/images/03.jpg);
        background-size: 50% auto;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
      }
    }</style>
    <div class="flex-grid component-row-wide component-alignment-top">
  <section class="component-column flex-12-12 flex-tablet-portrait-6-12 flex-tablet-landscape-5-12 padding-tablet-portrait-right-5x  padding-tablet-landscape-right-4x  padding-desktop-right-5x  component-background-center-center" data-section-id="section-235" style="">
  <div class="component-heading component margin-bottom-5x "><h2 class=" headline2 align-left">WOW Events</h2></div>
  <div class="component-text component margin-bottom-8x">
    <div class="body-text">
      <div style="font-size:19px;line-height:30px;">
        Exhibitions<br />
        Govt. Events<br />
        Corporate Events<br />
        Business Meets<br />
        Dealer Meets<br />
        BTL Activities<br />
        Product Launches<br />
        Seminars<br />
        Conferences<br />
        Press Meet<br />
        Live Bands<br />
        Concerts & fests
      </div>
    </div>
  </div>
  <!-- <div class="component-button component  align-left"><a href="../design/index.html" class="cta is-style-cta">See more</a></div> -->
  </section>
  <section class="component-column  flex-0-12 flex-tablet-portrait-1-12 component-background-center-center" data-section-id="section-11" style=""></section>
  <section class="component-column  flex-12-12 flex-tablet-portrait-6-12 component-background-center-center" data-section-id="section-184" style=""></section>
  </div></section>
  
  
  <section id="user-experience" class="component-row padding-top-85x component-image-background component-background component-background-left-center padding-bottom-8x  padding-tablet-portrait-top-16x  padding-tablet-portrait-right-4x  padding-tablet-portrait-bottom-16x  padding-desktop-right-0x  margin-desktop-bottom-16x " data-section-id="section-777" data-logo-color="logo-color-dark" style="">
      <style>
      .component-background[data-section-id="section-777"]{
        background-image: url(../../assets/images/04.jpg);
        background-size: auto 320px;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: top;
      } @media only screen and (min-width: 768px){
        .component-background[data-section-id="section-777"]{
          background-image: url(../../assets/images/04.jpg);
          background-size: 50% auto;
          background-repeat: no-repeat;
          background-position-x: left;
          background-position-y: center;
        }
      }
      </style>
      <div class="flex-grid component-row-wide component-alignment-top">
    <section class="component-column  flex-0-12 flex-tablet-portrait-6-12 flex-tablet-landscape-6-12 component-background-center-center" data-section-id="section-433" style=""></section>
    <section class="component-column  flex-0-12 flex-tablet-landscape-1-12 component-background-center-center" data-section-id="section-231" style=""></section>
    <section class="component-column  flex-12-12 flex-tablet-portrait-6-12 flex-tablet-landscape-5-12 padding-tablet-portrait-left-8x  padding-tablet-landscape-left-0x  component-background-center-center" data-section-id="section-396" style="">
    <div class="component-heading component  margin-bottom-5x "><h2 class=" headline2 align-left">WOW Interiors</h2></div>
    <div class="component-text component  margin-bottom-8x " style="">
      <div class="body-text">
        <div style="font-size:19px;line-height:30px;">
          Luxury Residential Interiors<br />
          Commercial Interiors <br />
          Office Design<br />Architectural Design<br />Retail & QSR design<br />Bespoke Furniture Design<br />
          Turnkey Contracts<br />Project Management<br />Interior Enhancement<br />Sampling for Developers & Builders<br />
        </div>
      </div>
    </div>
    <!-- <div class="component-button component  align-left"><a href="../userexperience/index.html" class="cta is-style-cta">See more</a></div> -->
    </section>
    </div></section>


  <section id="development" class="component-row padding-top-85x component-image-background component-background component-background-right-center padding-bottom-8x  padding-tablet-portrait-top-16x  padding-tablet-portrait-left-4x  padding-tablet-portrait-bottom-16x  padding-desktop-right-0x  padding-desktop-left-0x  margin-desktop-bottom-8x " data-section-id="section-687" data-logo-color="logo-color-dark" style="">
    <style>
    .component-background[data-section-id="section-687"]{
      background-image: url(../../assets/images/05.jpg);
      background-size: auto 320px;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: top;
    } @media only screen and (min-width: 768px){
      .component-background[data-section-id="section-687"]{
        background-image: url(../../assets/images/05.jpg);
        background-size: 50% auto;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: center;
      }
    }</style>
    <div class="flex-grid component-row-wide component-alignment-top">
  <section class="component-column  flex-12-12 flex-tablet-portrait-6-12 flex-tablet-landscape-5-12 padding-tablet-portrait-right-5x  padding-tablet-landscape-right-4x  padding-desktop-right-5x  component-background-center-center" data-section-id="section-842" style="">
  <br /><br />
  <div class="component-heading component  margin-bottom-5x "><h2 class=" headline2 align-left">WOW Gifts</h2></div>
  <div class="component-text component  margin-bottom-8x " style="">
    <div class="body-text">
      <div style="font-size:19px;line-height:30px;">
        Customized Corporates gifts<br />
        Customized Personalized gifts<br />
        <br />
        <br />
      </div>
  </div></div>
  <!-- <div class="component-button component  align-left"><a href="../development/index.html" class="cta is-style-cta">See more</a></div> -->
  </section>
  <section class="component-column  flex-0-12 flex-tablet-portrait-1-12 component-background-center-center" data-section-id="section-235" style=""></section>
  <section class="component-column  flex-12-12 flex-tablet-portrait-6-12 component-background-center-center" data-section-id="section-948" style=""></section>
  </div></section>
  </main></div>