/* You can add global styles to this file, and also import other style files */

// Common SCSS rules
*, *:focus {
    outline: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

html:not(.hydrated) body{
    display: block !important;
}