<div class="content-container component">
  <main class="content">
    <section class="component-row component-image-background component-background component-background-center-center padding-top-0x  padding-tablet-portrait-right-4x  padding-tablet-portrait-left-4x  padding-desktop-right-0x  padding-desktop-left-0x  component-row-height-medium" data-section-id="section-928" data-logo-color="logo-color-dark" style="height:100vh">
      <style>
        .component-background[data-section-id="section-928"]{
          background-image: url(../../assets/images/011.png);
          background-size: cover;
          background-repeat: no-repeat;
          background-position-x: center;
          background-position-y: center;
        } @media only screen and (min-width: 768px){
          .component-background[data-section-id="section-928"]{
            background-image: url(../../assets/images/011.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
          }
        }</style>
      <div class="flex-grid component-row-wide component-alignment-bottom">
      <section class="component-column margin-tablet-portrait-bottom-0x flex-12-12 padding-top-0x  padding-left-0x  padding-bottom-0x  padding-tablet-portrait-top-0x  padding-tablet-portrait-right-0x  padding-tablet-portrait-left-0x  padding-tablet-portrait-bottom-0x  component--background component-background component-background-center-center" data-section-id="section-248" style="">
        <div class="component-heading component " style="color:#FFFFFF;"><h1 class=" headline1 align-left">Contact</h1></div>
      </section>
      <section class="component-column bleed-out-background flex-12-12 flex-tablet-portrait-4-12 padding-top-2x  padding-left-0x  padding-bottom-2x  padding-tablet-portrait-top-2x  padding-tablet-portrait-right-0x  padding-tablet-portrait-left-0x  padding-tablet-portrait-bottom-2x  component--background component-background component-background-center-center" data-section-id="section-291" style="">
        <div class="component-text component  margin-top-0x " style="font-size:15px">
          <div class="body-text">
            <p class="p1"><span class="s1" style="color:#ffffff;">(+91) 9988 250 350</span></p>
            <p class="p1">
              <span class="s1" style="color: #ffffff;">
                WOW printers & designers <br />
                <small>wowprinters4u@gmail.com</small>
              </span>
            </p>
            <p class="p1">
              <span class="s1" style="color: #ffffff;">
                WOW events<br />
                <small>thewowevents4u@gmail.com</small>
              </span>
            </p>
            <p class="p1">
              <span class="s1" style="color: #ffffff;">
                WOW gifts<br />
                <small>makewowgifts@gmail.com</small>
              </span>
            </p>
            <p class="p1">
              <span class="s1" style="color: #ffffff;">
                WOW interiors<br />
                <small>wowinteriors4u@gmail.com</small>
              </span>
            </p>
            <p class="p1">
              <span class="s1" style="color: #ffffff;">
                WOW branding <br />
                <small>wowbranding4u@gmail.com</small>
              </span>
            </p>
          </div>
        </div>
      </section>
    </div>
  </section>
    <section class="component-row  component-color-background component-background component-background-center-center padding-top-8x  padding-phone-bottom-8x  padding-tablet-portrait-top-13x  padding-tablet-portrait-right-4x  padding-tablet-portrait-left-4x  padding-desktop-right-0x  padding-desktop-left-0x " data-section-id="section-439" data-logo-color="logo-color-dark" style="background-color: #FFFFFF; ">
      <div class="flex-grid component-row-wide component-alignment-top">
    <section class="component-column  flex-12-12 flex-tablet-portrait-4-12 component-background-center-center" data-section-id="section-953" style="">
      <div class="component-heading component  margin-bottom-4x " style="color:#1d1d1d;"><h2 class=" headline2 align-left">How can we help?</h2></div>
      <div class="component-text component  margin-bottom-8x  padding-bottom-8x  component-bottom-border-default" style=""><div class="body-text"></div></div>
    </section>
    <section class="component-column  flex-12-12 flex-tablet-portrait-2-12 component-background-center-center" data-section-id="section-603" style=""></section>
    <section class="component-column padding-tablet-portrait-bottom-24x flex-12-12 flex-tablet-portrait-6-12 padding-bottom-4x  padding-tablet-portrait-bottom-8x  component-background-center-center" data-section-id="section-877" style="">
      <div class="component-shortcode component ">
        <div class="wpcf7" lang="en-US" dir="ltr">
          <div class="screen-reader-response"></div>
          <form id="gform" method="post" action="https://script.google.com/macros/s/AKfycby3lLMJIXpiTYHlUwZr2DmoSPNYa39c6kWL3gqBKA/exec">
            <div class="contact-form component-cf7 component">
              <label>Title</label>
              <span class="wpcf7-form-control-wrap contact-name">
                <input type="text" name="title" [(ngModel)]="title" value="" size="40" class="wpcf7-form-control wpcf7-text" />
              </span>
              <label>First Name</label>
              <span class="wpcf7-form-control-wrap contact-email">
                <input type="text" name="fname" [(ngModel)]="fname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" />
              </span>
              <label>Last Name</label>
              <span class="wpcf7-form-control-wrap contact-email">
                <input type="text" name="lname" [(ngModel)]="lname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" />
              </span>
              <label>Company Name</label>
              <span class="wpcf7-form-control-wrap contact-phone">
                <input type="text" name="cname" [(ngModel)]="cname" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" />
              </span>
              <label>E-mail ID</label>
              <span class="wpcf7-form-control-wrap contact-phone">
                <input type="email" name="email" [(ngModel)]="email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" />
              </span>
              <label>Contact No</label>
              <span class="wpcf7-form-control-wrap contact-phone">
                <input type="tel" name="number" [(ngModel)]="number" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" />
              </span>
              <label>City</label>
              <span class="wpcf7-form-control-wrap contact-phone">
                <input type="text" name="city" [(ngModel)]="city" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" />
              </span>
              <label>Country</label>
              <span class="wpcf7-form-control-wrap contact-phone">
                <input type="text" name="country" [(ngModel)]="country" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel" />
              </span>
              <label>I would like to talk to you about</label>
              <span class="wpcf7-form-control-wrap contact-message">
                <textarea style="height:150px;" name="message" [(ngModel)]="message" cols="40" rows="30" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required"></textarea>
              </span>
              <input type="submit" value="submit" class="wpcf7-form-control wpcf7-submit cta cta-negative" />
            </div>
          </form>
        </div>
      </div>
    </section>
    </div>
  </section>
</main>
</div>